@media (max-width: 1260px) {
    .info__item {
        padding: 30px;
    }
    .info__title {
        font-size: 16px;
    }
    .info__text {
        font-size: 14px;
    }
}
@media (max-width: 1080px) {
    .info__item {
        letter-spacing: unset;
    }
    .about__block {
        padding-right: 30px;
    }
    .services__content {
        height: 400px;
    }
}


@media (max-width: 992px) {
    .section {
        margin-bottom: 30px;
    }
    .header__logo img {
        height: 55px;
    }
    .intro__content {
        height: 530px;
        justify-content: center;
    }
    .intro__block {
        text-align: center;
    }
    .intro__title {
        font-size: 34px;
        text-align: center;
    }
    .info__item {
        padding: 20px;
    }
    .services__content {
        height: 300px;
    }
    .services__content-item {
        display: none;  
    }
    .services__content:after {
        display: none;
    }
    .about {
        padding: 30px 0;
    }
    .contacts {
        padding: 30px 0;
    }
    .about__wrapper {
        flex-direction: column;
    }
    .about__block {
        padding-right: 0;
        margin-bottom: 30px;
    }
    .about__img {
        height: auto;
        max-width: 100%;
    }
    .about__text {
        text-align: justify;
        margin: 20px 0 30px;
    }
    .about__link {
        font-size: 14px;
    }
    .process__title {
        font-size: 100px;
        margin-bottom: 10px;
    }
    .process__subtitle {
        margin-bottom: 20px;
    }
    .process__item {
        text-align: center;
        min-height: auto;
        padding: 20px 20px 12px;
    }
    .section.process {
        padding-top: 0;
    }
}

@media (max-width: 850px){
    .info {
        transform: translateY(-75px);
        margin-bottom: -40px;
    }
    .wrapper {
        flex-wrap: wrap;
    }
    .block {
        width: 100%;
        margin-bottom: 20px;
    }
    .info__item {
        text-align: center;
    }
    .services__content {
        height: 450px;
        background-position: center;
    }
    .block__title {
        text-align: center;
    }
    .block__link {
        display: flex;
        justify-content: center;
    }
  
    .contacts__form {
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }
}

@media (max-width: 560px) {
    .header__logo img {
        height: 45px;
    }
    .services__content {
        height: 300px;
    }
    .process__title {
        font-size: 72px;
    }
    .process__subtitle {
        font-size: 25px;
    }
    .footer__wrapper {
        height: auto;
        padding: 30px 0;
        flex-direction: column;
        align-items: center;
    }
    .copyright {
        margin-bottom: 20px;
        text-align: center;
    }
    .form__row {
        margin: 0 -10px;
        flex-direction: column;
    }
    .form__group {
        padding: 0 10px;
    }
}

@media (max-width: 460px) {
    .intro__title {
        font-size: 26px;
    }
    .block__title {
        font-size: 24px;
    }
    .process__title {
        font-size: 40px;
    }
    .process__subtitle {
        font-size: 18px;
    }
    
}
